#root {
  background-image: linear-gradient(#071c4d, #7ba7b2);
  box-shadow: 0 0 8px 8px #071c4d inset;
  height: 100vh;
  background-position: bottom;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../assets/stable-diffusion-background-01.jpeg');
}

button.MuiButtonBase-root {
  color: #7ba7b2;
  background-color: #071c4d;
}

button.MuiButtonBase-root:hover {
  color: #fff011;
  background-color: #071c4d;
}

input.MuiFilledInput-input {
  color: #071c4d;
  background-color: #def7f8;
  height: 26px;
  padding: 5px;
  opacity: 60%;
}

div.MuiGrid-root {
  height: 30vh;
  text-align: center;
}

div#banner {
  color: #071c4d;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  display: block;
  margin: 10px auto;
}

.blackText {
  color: black;
  font-family: Poppins;
  max-width: 800px;
  overflow: auto;
}

.red {
  color: red;
  font-size: 14px;
  font-family: Poppins;
}

.json-view {
  font-size: 12px;
  text-align: start;
} */