#root {
  background-image: linear-gradient(#071c4d, #7ba7b2);
  box-shadow: 0 0 8px 8px #071c4d inset;
  height: 100vh;
  background-position: bottom;
  background-color: transparent;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  background-image: url('../assets/stable-diffusion-background-01.jpeg');
}

button#event-card.MuiButtonBase-root {
  background-color: transparent;
}

button.MuiButtonBase-root {
  color: #7ba7b2;
  background-color: #071c4d;
}

button.MuiButtonBase-root:hover {
  color: #fff011;
  background-color: #071c4d;
}


button.MuiButtonBase-root.MuiCardActionArea-root.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
  background-color: transparent;
}

input.MuiFilledInput-input {
  color: #071c4d;
  background-color: #def7f8;
  height: 26px;
  padding: 5px;
  opacity: 60%;
}

div#body-grid.MuiGrid-root {
  height: 100%;
  text-align: center;
}

div#header-grid.MuiGrid-root {
  height: 50px;
  text-align: center;
}

div#banner {
  height: 250px;
  color: #071c4d;
}

div.MuiPaper-root {
  background-color: transparent;
}

div.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: transparent;
}

p.MuiTypography-root {
  background-color: transparent;
}

p#event-card {
  background-color: #071c4d;
}